<div class="full_page">	
  <section class="white_background">	
    <div class="row">
      <div class="large-4 columns">
      	<%= render 'sidebar'%>
      </div>
      
      <div class="large-8 columns">
	    <% if @not_found %>
	      <h4>We need some information to get you the DogFact Report</h4>
	    <% else %>
		  <h4>Complete your request</h4>
	    <% end %>
		
	    <%= render 'form' %>

      </div>
      
    	
    </div>
  </section>
</div>




