/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_tree .
 */

header {
  background-color: blue !important;
}

.logo_header a{
  color: white !important;
}

span.logo_dog {
  font-family: 'Anton';
}

span.logo_facts {
  font-family: 'Permanent Marker';
}

.center_text, .center {
  text-align: center !important;
}

header .inline-list {
  overflow: visible !important;
}
