<%= form_for(Report.new, html: {"data-abide" => ''}) do |f| %>
  <div class="row collapse">
    <div class="small-10 columns">
	  <%= f.text_field :microchip_id, placeholder: "Enter microchip id"  %>
    </div>
    <div class="small-2 columns">  
      <%= f.submit 'Go', class: "button postfix" %>
    </div>
  </div> 
<% end %>